<div id="day">
  <div class="toolbar">
    <a class="back">Back</a>
    <h1>Day</h1>
  </div>
  <ul class="plastic">
    <li>Monday <small>23</small></li>
    <li>Tuesday <small>15</small></li>
    <li>Wednesday <small>5</small></li>
    <li>Thursday <small>23</small></li>
    <li>Friday <small>15</small></li>
    <li class="weekend">Saturday <small>5</small></li>
    <li class="weekend">Sunday <small>5</small></li>
  </ul>
  <div class="info">
    Served at <%= Time.now %>
  </div>
</div>
